@import '../../constants/styles';
.blue_button {
  background: rgba(0, 117, 255, 1);
  a {
  }
  &:hover{
    //outline: 1px solid $semi-white;
    background: rgba(0, 117, 255, 0.9);
    a{
      color: $evil-blue;
    }

  }
}

.default_button {
  border: none;
  padding: 9px 27px;
  border-radius: 59px;
  cursor: pointer;
  transition: all .3s ease;
  a{
    transition: all .3s ease;
  }
}

.transparent_button {
  background: transparent;
  outline: 1px solid #FFFFFF;
  &:hover{
    outline: 1px solid rgba(0, 117, 255, 1);
    a{
      color: rgba(0, 117, 255, 1);
    }
  }
}