$background-color: #000825;
//font-colors
$hover-red: #f53031;
$evil-blue: #081f34;
$light-blue: #2A8BF2;
$pink: #FF3366;
$gray: #707C97;
$semi-white: #FAFBFF;
$white: #fff;

$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;
$breakpoint1150: 1149.98 + px;