@import './src/constants/styles';
.burger_btn {
  border:none;
  background:none;
  height: 30px;
  width: 30px;
  margin-right: 40px;
  position: relative;
  cursor:pointer;
  display:flex;
  padding:0;
  display:none;
  @media screen and (max-width:$breakpoint992){
    display:flex;
  }
  span{
    content: '';
    position: absolute;
    top: 14px;
    width: 30px;
    background: white;
    height:2px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    background: white;
    height:2px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    background: white;
    height:2px;
  }
}