@import '../../constants/styles';

.header_container {
  display: flex;
  padding-top: 56px;
  align-items: center;
  height: max-content;
  @media screen and (max-width: $breakpoint992) {
    padding-top: 20px;
    margin-bottom: 50px;
  }

  .menu_with_logo {
    display: flex;
    align-items: center;

    .header_menu {
      ul {
        display: flex;
      }

      a {
        margin-right: 65px;
        transition: all .3s ease;

        &:hover {
          color: #FFD460;
        }
      }

      @media screen and (max-width: $breakpoint992) {
        display: none;
      }
    }

    .header_logo {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 40px;
      user-select: none;
      margin: 0 100px 0 0;

      a {
        transition: all 0.5s ease;

        &:hover {
          color: #FFD460;
          // #F07B3F #FFD460 #EA5455
        }
      }

      @media screen and (max-width: $breakpoint992) {
        margin-right: 20px;
      }
      @media screen and (max-width: 285px) {
        display: none;
      }
    }
  }

  .buttons_block {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;


    .button_margin {
      margin-right: 20px;
    }

    @media screen and (max-width: $breakpoint768) {
      display: none
    }
  }


}